<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDFMetalDemo-OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SDFMetalDemo-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SDFMetalDemo-tvOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>voĉo-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>voĉo-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>462BD8ED1CF5C14C004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD9061CF5C14D004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD9111CF5C14D004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD9271CF5C164004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD93C1CF5C164004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD9471CF5C164004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD95B1CF5C17F004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD9701CF5C17F004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462BD97B1CF5C17F004D0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
